body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f5f3ef;
  color: #1F2937;
  border: 2px solid #ec0e0e;
}

h1, h2, p {
  margin: 0;
}

.contenedor-principal-de-la-aplicacion {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #28ec0e;
}

.texto-descriptivo-de-la-aplicacion {
  color: #6B7280;
  border: 2px solid #0e67ec;
}

.tarjeta-del-formulario-de-creacion-de-tareas,
.tarjeta-de-la-lista-visual-de-tareas,
.barra-superior-de-informacion-y-acciones {
  background-color: #ebe2d0;
  border: 2px solid #D6D3D1;
  border-radius: 12px;
  padding: 20px;
}

.contenedor-de-campos-del-formulario {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  border: 2px solid #ece80e;
}

.contenedor-de-campos-del-formulario input,
.contenedor-de-campos-del-formulario select,
.contenedor-de-campos-del-formulario button {
  padding: 12px;
  border: 1px solid #bfc9d4;
  border-radius: 8px;
  font-size: 16px;
}

.contenedor-del-mensaje-de-error-del-formulario {
  margin-top: 10px;
  color: #B45C3D;
  font-size: 14px;
  min-height: 20px;
  border: 2px solid #c70eec;
}

.barra-superior-de-informacion-y-acciones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  border: 2px solid #0eec3e;
}

#listaVisualDeTareas {
  margin-top: 15px;
  padding: 0;
  list-style: none;
  border: 2px solid #000000;
}
